<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Madame Moka</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- CSS próprio -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


</head>

<body>

    <!-- ================= HEADER ================= -->
    <header class="header">
        <nav class="navbar">
            <div class="container">

                <div class="logo">
                    <a href="index.html">
                        <img src="/static/img/logo.png" alt="Madame Moka">
                    </a>
                </div>

                <ul class="nav-menu">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/templates/produtos.html">Produtos</a></li>
                    <li><a href="/templates/pedidos.html">Pedidos</a></li>
                </ul>

            </div>
        </nav>
    </header>
</body>

</html>